@font-face {
    font-family: 'Caviar', sans-serif;
    src: url('../assets/fonts/CaviarDreams-webfont.woff');
}

@font-face {
    font-family: 'Belleson_', cursive;
    src: url('../assets/fonts/Belleson.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Belleson.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Belleson.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Belleson.ttf')  format('truetype'); /* Safari, Android, iOS */
}
