@function set-notification-text-color($color) {
    @if (lightness($color) > 50) {
      @return #000000; // Lighter backgorund, return dark color
    } @else {
      @return #ffffff; // Darker background, return light color
    }
  }
  


body{
    overflow:hidden;
    background-color: #00354c!important;
  }
  h1,h2,h3,h4,p{
    color:white;
  
  }
  
  .colorize-blue {
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);}
  